 <div th:fragment="header">
   <header class="header--mobile">
        <div class="header__left">
            <button class="ps-drawer-toggle"><i class="icon icon-menu"></i></button><img src="" alt="">
        </div>
        <div class="header__center"><a class="ps-logo" href="#"><img src="admin/img/logo.png" alt=""></a></div>
        <div class="header__right"><a class="header__site-link" href="#"><i class="icon-exit-right"></i></a></div>
    </header>
    <aside class="ps-drawer--mobile">
        <div class="ps-drawer__header">
            <h4> Menu</h4>
            <button class="ps-drawer__close"><i class="icon icon-cross"></i></button>
        </div>
        <div class="ps-drawer__content">
            <ul class="menu">
                <li><a class="active" href="#"><i class="icon-home"></i>Dashboard</a></li>
                <li><a href="{/boutiques}"><i class="icon-database"></i>Clients</a></li>
                <li><a href="#"><i class="icon-bag2"></i>Commandes</a></li>
                <li><a href="#"><i class="icon-percent-circle"></i>Coupons</a></li>
                <li><a href="#"><i class="icon-cog"></i>Paramettre</a></li>
            </ul>
        </div>
    </aside>
    <div class="ps-site-overlay"></div>
    <main class="ps-main">
        <div class="ps-main__sidebar">
            <div class="ps-sidebar">
                <div class="ps-sidebar__top">
                    <div class="ps-block--user-wellcome">
                        <div class="ps-block__left"><img src="admin/img/user/admin.jpg" alt="" /></div>
                        <div class="ps-block__right" th:if="${storename}">
                            <p>Bienvenue,<a th:href="#"><span th:text="${storename}"></span></a></p>
                        </div>
                        <div class="ps-block__action"><a href="#"><i class="icon-exit"></i></a></div>
                    </div>
                    <div class="ps-block--earning-count"><small>Revenue</small>
                        <h3>1000000F</h3>
                    </div>
                </div>
                <div class="ps-sidebar__content">
                    <div class="ps-sidebar__center">
                        <ul class="menu">
                                  <li><a class="active" href="#"><i class="icon-home"></i>Dashboard</a></li>
                                <li><a href="{/boutiques}"><i class="icon-database"></i>Clients</a></li>
                                <li><a href="#"><i class="icon-bag2"></i>Commandes</a></li>
                <li><a href="#"><i class="icon-percent-circle"></i>Coupons</a></li>
                <li><a href="#"><i class="icon-cog"></i>Paramettre</a></li>
                        </ul>
                    </div>
                    <div class="ps-sidebar__footer">
                        <div class="ps-copyright"><img src="admin/img/logo_light.png" alt="">
                            <p>&copy;2020 Marfury marketplace. <br/> All rights reversed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-main__wrapper">
            <header class="header--dashboard">
                <div class="header__left">
                    <h3>Dashboard</h3>
                </div>
                <div class="header__center">
                    <form class="ps-form--search-bar" action="index.html" method="get">
                        <input class="form-control" type="text" placeholder="Search something">
                        <button><i class="icon-magnifier"></i></button>
                    </form>
                </div>
                <div class="header__right"><a class="header__site-link" href="#"><span>View your store</span><i class="icon-exit-right"></i></a></div>
            </header>
 </div>