<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" 
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="favicon.png" rel="icon">
    <title>ExcelYaar Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="admin/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="admin/fonts/Linearicons/Font/demo-files/demo.css">
    <link rel="stylesheet" href="admin/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="admin/plugins/owl-carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="admin/plugins/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="admin/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="admin/plugins/apexcharts-bundle/dist/apexcharts.css">
    <link rel="stylesheet" href="admin/css/style.css">
</head>

<body>
    <header class="header--mobile">
        <div class="header__left">
            <button class="ps-drawer-toggle"><i class="icon icon-menu"></i></button><img src="" alt="">
        </div>
        <div class="header__center"><a class="ps-logo" href="#"><img src="" alt=""></a></div>
        <div class="header__right"><a class="header__site-link" href="/"><i class="icon-exit-right"></i></a></div>
    </header>
    <aside class="ps-drawer--mobile">
        <div class="ps-drawer__header">
            <h4> Menu</h4>
            <button class="ps-drawer__close"><i class="icon icon-cross"></i></button>
        </div>
        <div class="ps-drawer__content">
            <ul class="menu">
               <li><a class="active" href="/vendorboard"><i class="icon-home"></i>Dashboard</a></li>
                <li><a href="#"><i class="icon-database"></i>Clients</a></li>
                <li><a href="#"><i class="icon-bag2"></i>Commandes</a></li>
                <li><a href="#"><i class="icon-percent-circle"></i>Coupons</a></li>
                <li><a href="#"><i class="icon-cog"></i>Paramettre</a></li>
            </ul>
        </div>
    </aside>
    <div class="ps-site-overlay"></div>
    <main class="ps-main">
        <div class="ps-main__sidebar">
            <div class="ps-sidebar">
                <div class="ps-sidebar__top">
                    <div class="ps-block--user-wellcome">
                        <div class="ps-block__left"><img src="admin/img/user/admin.jpg" alt="" /></div>
                        <div class="ps-block__right" th:if="${storename}">
                            <p>Bienvenue,<a href="#"><span th:text="${storename}"></span></a></p>
                        </div>
                        <div class="ps-block__action"><a href="#"><i class="icon-exit"></i></a></div>
                    </div>
                    <div class="ps-block--earning-count"><small>Revenue</small>
                        <h3>1000000F</h3>
                    </div>
                </div>
                <div class="ps-sidebar__content">
                    <div class="ps-sidebar__center">
                        <ul class="menu">
                           <li><a class="active" href="/vendorboard"><i class="icon-home"></i>Dashboard</a></li>
                            <li><a href="#"><i class="icon-database"></i>Clients</a></li>
                            <li><a href="#"><i class="icon-bag2"></i>Commandes</a></li>
                            <li><a href="#"><i class="icon-percent-circle"></i>Coupons</a></li>
                            <li><a href="#"><i class="icon-cog"></i>Paramettre</a></li>
                        </ul>
                    </div>
                    <div class="ps-sidebar__footer">
                        <div class="ps-copyright"><img src="admin/img/logo.png" alt="">
                            <p>&copy;2020 ExelYaar marketplace. <br/> All rights reversed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-main__wrapper">
            <header class="header--dashboard">
                <div class="header__left">
                    <h3>Dashboard</h3>
                    <p></p>
                </div>
                <div class="header__center">
                    <form class="ps-form--search-bar" action="index.html" method="get">
                        <input class="form-control" type="text" placeholder="Chercher quelque chose">
                        <button><i class="icon-magnifier"></i></button>
                    </form>
                </div>
                <div class="header__right"><a class="header__site-link" href="/"><span>Voir le site web</span><i class="icon-exit-right"></i></a></div>
            </header>
            <div layout:fragment="content"></div>
        </div>
    </main>
    <script src="admin/plugins/jquery.min.js"></script>
    <script src="admin/plugins/popper.min.js"></script>
    <script src="admin/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="admin/plugins/jquery.matchHeight-min.js"></script>
    <script src="admin/plugins/select2/dist/js/select2.full.min.js"></script>
    <script src="admin/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="admin/plugins/apexcharts-bundle/dist/apexcharts.min.js"></script>
    <script src="admin/js/chart.js"></script>
    <!-- custom code-->
    <script src="admin/js/main.js"></script>
</body>

</html>