

<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/fragments/layout}">


<body>
    <div layout:fragment="content">
            <section class="ps-items-listing">
                <div class="ps-section__header simple">
                    <div class="ps-section__filter">
                        <form class="ps-form--filter" action="index.html" method="get">
                            <div class="ps-form__left">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search..." />
                                </div>
                                <div class="form-group">
                                    <select class="ps-select">
                                        <option value="1">Status</option>
                                        <option value="2">Active</option>
                                        <option value="3">Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="ps-form__right">
                                <button class="ps-btn ps-btn--gray"><i class="icon icon-funnel mr-2"></i>Filter</button>
                            </div>
                        </form>
                    </div>
                    <div class="ps-section__actions"><a class="ps-btn success" href="/dashboard"><i class="icon icon-plus mr-2"></i>Add Customer</a></div>
                </div>
                <div class="ps-section__content">
                    <div class="table-responsive">
                        <table class="table ps-table">
                            <thead>
                                <tr>
                                    <th>ID du vendors</th>
                                    <th>ID du client</th>
                                    <th>Nom de la Boutiquee</th>
                                    <th>Email/Telephone</th>
                                    
                                    <th>Creer le</th>
                                    <th>Status</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="vendor, iStat : ${vendorsPage.content}"
                                     th:style="${iStat.odd}? 'font-weight: bold;'"
                                     th:alt-title="${iStat.even}? 'even' : 'odd'">
                                    <td >#<span th:text="${vendor.id}"></span></td>
                                    <td >#<span th:text="${vendor.customerEntity.id}"></span></td>
                                    <td><strong th:text="${vendor.storeName}"></strong></td>
                                    <td th:text="${vendor.email}"></td>
                                    
                                    <td th:text="${vendor.createdDate}"></td>
                                    <td th:if="${vendor.approved}"><span class="ps-badge success">active</span></td>
                                    <td th:if="!${vendor.approved}"><span class="ps-badge success">inactive</span></td>
                                    <td>
                                        <form class="ps-form--account-settings" th:action="@{/voir-description}" method="post" th::object="${descriptionDto}" >
                                            
                                           <input type="hidden" th:value="${vendor.id}" th:attr="name='vendorId'"/>
                                            <button type="submit" class="ps-btn success">Voir</button>
                                         </form>
                                    </td>
                                     
                                
                                    <td>
                                        <div class="dropdown"><a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-ellipsis"></i></a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Edit</a><a class="dropdown-item" href="#">Delete</a></div>
                                        </div>
                                    </td>
                                </tr>
                               
                               
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ps-section__footer">
                    <p>Show 10 in 30 items.</p>
                    <div th:if="${vendorsPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{/boutiques(size=${vendorsPage.size}, page=${pageNumber})}"  th:text=${pageNumber} th:class="${pageNumber==vendorsPage.number + 1} ? active"></a>
                    </div>
                    
                   
                </div>
            </section>
    </div>
  
</body>

</html>