<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/fragments/layout}">


<body>
    <div layout:fragment="content">
        <section class="ps-dashboard ps-items-listing">
        <div class="ps-section__left">
            <div class="table-responsive">
                <table class="table ps-table">
                    <thead>
                    <tr>
                        <th>Nom de la Categorie</th>
                        <th>Slug</th>
                        <th>Creer par</th>
                        <th>Description</th>
                        <th>Date de la creation</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <tr th:each="category, iStat : ${subcategoriesPage.content}"
                        th:style="${iStat.odd}? 'font-weight: bold;'"
                        th:alt-title="${iStat.even}? 'even' : 'odd'">
                        <td th:text="${category.productSubType}"><strong ></strong></td>
                        <td th:text="${category.productSubTypeSlug}"></td>
                        <td th:text="${category.createdBy}"></td>
                        <td th:text="${category.description}"></td>
                        <td th:text="${category.createdDate}"></td>
                        <td th:text="${category.lastUpdatedDate}"></td>
                        <td>
                            <div class="dropdown"><a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                     aria-expanded="false"><i class="icon-ellipsis"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item"
                                                                                                   href="#">Edit</a><a
                                        class="dropdown-item" href="#">Delete</a></div>
                            </div>
                        </td>
                    </tr>




                    </tbody>
                </table>
            </div>
            <div class="ps-section__footer">
                <p>Show 5 in 30 items.</p>
                <div th:if="${subcategoriesPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/subcategoriesPage(size=${subcategoriesPage.size}, page=${pageNumber})}"  th:text=${pageNumber} th:class="${pageNumber==subcategoriesPage.number + 1} ? active"></a>
                </div>
            </div>
        </div>
        <div class="ps-section__right">
            <form class="ps-form ps-form--new" action="index.html" method="get">
                <div class="ps-form__content">
                    <div class="form-group">
                        <label>Name<sup>*</sup>
                        </label>
                        <input class="form-control" type="text" placeholder="Enter category name"/>
                    </div>
                    <div class="form-group">
                        <label>Slug<sup>*</sup>
                        </label>
                        <input class="form-control" type="text" placeholder="Enter category slug"/>
                    </div>
                    <div class="form-group form-group--select">
                        <label>Parent
                        </label>
                        <div class="form-group__content">
                            <select class="ps-select" title="Parent">
                                <option value="1">Parent 1</option>
                                <option value="2">Parent 2</option>
                                <option value="3">Parent 3</option>
                                <option value="4">Parent 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description
                        </label>
                        <textarea class="form-control" rows="6" placeholder="Enter category description"></textarea>
                    </div>
                </div>
                <div class="ps-form__bottom">
                    <button class="ps-btn ps-btn--gray">Reset</button>
                    <button class="ps-btn ps-btn--sumbit success">Add new</button>
                </div>
            </form>
        </div>
    </section>
    </div>


</body>

</html>