<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/fragments/layout}">


<body>
    <div layout:fragment="content" th:if="${vendor}">

            <section class="ps-dashboard">
                <div class="ps-section__left">
                 
                    <div class="ps-card ps-card--track-order">
                        <div class="ps-card__header">
                            <h4 th:text="'#'+${vendor.id}"></h4>
                            
                        </div>
                           <div class="row">
                        <div class="col-md-auto">
                            <div class="ps-card ps-card--order-information ps-card--small">
                                <div class="ps-card__header">
                                    <h4>Information du vendor</h4>
                                </div>
                                <div class="ps-card__content">
                                    <h5>Nom: <span th:text="${vendor.firstName}"></span>&nbsp;</h5>

                                    <h5>Prenom: <span th:text="${vendor.lastName}"></span>&nbsp;</h5>
                                    <h5>Nom de la boutique: <span th:text="${vendor.storeName}"></span>&nbsp;</h5>
                                    
                                    <h5>Email: <span th:text="${vendor.email}"></span>&nbsp;</h5>
                                    <h5>Date de demande: <span th:text="${vendor.createdDate}"></span>&nbsp;</h5>
                                    
                                    
                                </div>
                            </div>
                        </div>
                       
                       
                    </div>
                     <div class="row">
                        <div class="col-md-auto">
                            <div class="ps-card ps-card--order-information ps-card--small">
                                <div class="ps-card__header">
                                    <h4>Description</h4>
                                </div>
                                <div class="ps-card__content">
                                    <p th:text=${vendor.description}></p>
                        
                                    
                                </div>
                            </div>
                        </div>
                     
                       
                    </div>
                    </div>
                </div>
                <div class="ps-section__right">
                    <div class="ps-card ps-card--track-order">
                        <div class="ps-card__header">
                            <h4>Photo de la CNIB</h4>
                        </div>
                        <div class="ps-card__content">
                            <div class="ps-block--track-order">
                               
                                <div class="ps-block__content">
                                   
                                      <div class="ps-block__timeline">

                                       <img  style="width: 50%;"  th:src="@{/Vendeurs/{id}/idCard/{image}(image=${vendor.idPhotoImage}, id=${vendor.id})}">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ps-card ps-card--track-order">
                        <div class="ps-card__header">
                            <h4>Photo du vendeur</h4>
                        </div>
                        <div class="ps-card__content">
                            <div class="ps-block--track-order">
                        
                                <div class="ps-block__content">
                                    <div class="ps-block__timeline">
                                       
                                       <img style="width: 50%;" th:src="@{/Vendeurs/{id}/idCard/{image}(image=${vendor.selfPhotoImage}, id=${vendor.id})}">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="ps-card ps-card--track-order">
                         <h4 th:if="${vendor.approved}"><span class="ps-badge success">active</span></h4>
                        <h4 th:if="!${vendor.approved}"><span class="ps-badge success">inactive</span></h4>
                         <form th:if="!${vendor.approved}" class="ps-form--account-settings" th:action="@{/vendor-to-activate}" method="post" th::object="${descriptionDto}" >
                                            
                                           <input type="hidden" th:value="${vendor.id}" th:attr="name='vendorId'"/>
                                            <button type="submit" class="ps-btn success">Activer</button>
                                         </form>
                        <form th:if="${vendor.approved}" class="ps-form--account-settings" th:action="@{/vendor-to-desactivate}" method="post" th::object="${descriptionDto}" >
                                            
                                           <input type="hidden" th:value="${vendor.id}" th:attr="name='vendorId'"/>
                                            <button type="submit" class="ps-btn success">Desactiver</button>
                                         </form>
                    </div>
                </div>
            </section>
        </div>

</body>

</html>